@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  background: #e34234;
  -webkit-font-smoothing: antialiased; /* Suavização da fonte no chrome */
}

input,
button,
textarea {
  font: 400 18px Roboto, sans-serif;
} 

button {
  cursor: pointer;
}

.button:hover {
  filter: brightness(
    90%
  ); /* Redução de 10% do brilho quando em cima do botão */
}

.titleLabel {
  position: absolute;
  width: 140px;
  height: 42px;
  left: 18px;
  top: 28px;

  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 42px;
  color: #ffffff;
}
